:root {
    --header-height: 80px;
    --header-height-mobile: 65px;
    --nav-section-padding: 10px;
    --nav-section-padding-mobile: 8px;
    --nav-section-margin-bottom: 10px;
    --nav-width-mobile: 50%;
    --nav-width-min: 270px;
    --nav-width: 25%;
    --font-main: Arial, sans-serif;
}