.screen-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}
.screen-header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen-header__logo-image {
    width: 50px;
    height: 50px;
}
.screen-header__photo {
    height: 100%;
}
.screen-header__logo-name {
    margin-left: 5px;
}
.screen-header__icons span {
    margin-left: 25px;
}
.screen-header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    max-width: 400px;
}
