.korean-pattern {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
}

.grid-item {
    border: 1.5px solid #826753;  /* 빨간색 테두리 추가 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-top-border {
    border-top: none;
}

.no-right-border {
    border-right: none;
}

.no-left-border {
    border-left: none;
}

.no-bottom-border {
    border-bottom: none;
}